<hr>

<!-- Interpolation -->
<p>{{name}} is {{age}} years old</p>
<p>{{age > 21 ? 'Interpolation - True' : 'Interpolation - False'}}</p>

<!-- Property Biding -->
<button [disabled]="disabled">Property Biding</button>

<!-- Event Biding -->
<br><br>
<button (click)="alertInformation('Alert Information')">Event Biding</button>
<br><br>
<div style="background-color: darkslategray; width: 300px; height: 300px;" (mousemove)="locateMouse($event)"></div>
<p>{{position.x}} - {{position.y}}</p>

<!-- Two Way Biding -->
<input type="text" [(ngModel)]="name">
<p>{{name}}</p>